[core]
	editor = mcedit
[pull]
	ff = only
[push]
	default = simple
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[user]
	name = Pavel Roskin
	email = plroskin@gmail.com
[stgit]
	pager = cdiff
